=background-paralax($link: 'noted', $opacity: 1)
	position: relative
	overflow: hidden
	&:before
		background: url('../img/'+$link+'.png')
		background-size: cover
		position: absolute
		content: ''
		display: block
		left: 0
		top: 0
		width: 100%
		height: 100%
		opacity: $opacity
		background-attachment: fixed
		background-position: bottom
		background-repeat: no-repeat
$maubut: #00c4c9
.home-slider
	.owl-carousel
		.item
			.title
				margin-top: 1rem
				h1
					+fz(1.5rem)
				p
					color: darken(#fff,50%)
		//NAV
		.owl-nav
			button
				background: $maubut
				border-radius: 0
				width: 3rem
				height: 3rem
				line-height: 3rem
				&.disabled
					background: rgba(0,0,0,1)
				&:hover
					background: $maubut
				&:focus
					outline: none
				
	+media-breakpoint-up(md)
		.owl-carousel
			.item
				position: relative
				.title
					position: absolute
					bottom: 0
					left: 50%
					transform: translateX(-50%)
					text-align: center
					width: 100%
					padding-bottom: 1.5rem
					background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0))
					h1, p
						color: #fff
						text-shadow: 1px 1px 3px rgba(0,0,0,.5)
					h1
						+fz(2.2rem)
						+lh(2.3rem)
					p
						+fz(1.2rem)
						+lh(1.3rem)
			.owl-nav
				position: absolute
				margin: 0
				width: 100%
				top: 50%
				left: 0
				transform: translateY(-50%)
				.owl-prev, .owl-next
					position: absolute
				.owl-prev
					left: 2rem
					transform: translateY(-50%)
				.owl-next
					right: 2rem
					transform: translateY(-50%)
.home-news
	a
		// +pad(1rem 1rem)
		display: flex
		justify-content: center
		align-items: center
		// text-align: center
		flex-direction: column
		text-decoration: none
		figure
			img
				width: 100%
				height: 100%
			figcaption
				h4
					margin-top: 1rem
					margin-bottom: 0
					color: lighten(#000, 30%)
				time
					color: lighten(#000, 80%)
				p
					padding-top: 1rem
					max-width: 100%
					color: lighten(#000, 70%)
					transition: 0.5s all ease-in-out
					line-height: 1.2rem
	+media-breakpoint-up(md)
		a
			text-align: left
			figure
				display: block
				.boximg
					position: relative
					overflow: hidden
					img
						filter: grayscale(100%)
						
						transition: 0.5s all ease-in-out
					&:before	
						position: absolute
						content: ''
						display: inline-block
						top: 0
						left: 0
						width: 100%
						height: 100%
						z-index: 1
						transition: 0.5s all ease-in-out
			h4
				transition: 0.5s all ease-in-out
			p
				color: lighten(#000, 60%)
				transition: 0.5s all ease-in-out
			&:hover
				figure
					.boximg
						img
							filter: grayscale(0%)
							transform: scale(1.5)
						&:before
							box-shadow: 0 0 0 5px $maubut inset
					figcaption
						h4
							color: $maubut
						p
							color: #000
.home-future
	+background-paralax(develop, .3)
	.container
		padding-bottom: 7.2rem
		a
			text-align: center
			text-decoration: none
			color: #000
			figure
				transition: 0.5s all ease-in-out
				i
					+fz(5rem)
					+pad(1.5rem null)
				h4
					padding-bottom: .5rem
			figcaption
				p
					color: lighten(#000, 50%)
					line-height: 1.3rem
					transition: 0.5s all ease-in-out
			+media-breakpoint-up(md)
				text-align: left
				a
				&:hover
					figure
						color: $maubut
					figcaption
						p
							color: #000
.home-more
	background: url('../img/noted.png')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	padding-bottom: 5rem
	.container
		h4
			+fz(1.3rem)
			color: #fff
			+pad(5rem 5rem 2rem 5rem)
		.btn
			width: 220px
			height: 53px
			background: $maubut
			color: #ffffff
			font-size: 1.5rem
			border-radius: 30px
			line-height: 40px
			font-weight: 700
	+media-breakpoint-up(md)
		.container
			h4
				+fz(1.7rem)
.home-filter
	margin-bottom: 5rem
	.tab
		text-align: center
		align-items: center
		ul
			li
				+pad(.5rem 1rem)
				border-radius: 40px
				color: #000000
				font-weight: 700
				text-decoration: none
				list-style: none
				display: inline-block
				p
					text-align: center
					margin-bottom: 0
			.active
				background: $maubut
				color: #ffffff
		.cont
			.row
				&.item
					.boximg
						margin-bottom: 2rem
					display: none
					&.active
						display: flex
	+media-breakpoint-up(md)
		display: block
		.cont
			position: relative
			.boximg
				position: relative
				overflow: hidden
				img
					filter: grayscale(100%)
					
					transition: 0.5s all ease-in-out
				&:before	
					position: absolute
					content: ''
					display: inline-block
					top: 0
					left: 0
					width: 100%
					height: 100%
					z-index: 1
					transition: 0.5s all ease-in-out
				&:hover
					img
						filter: grayscale(0%)
						transform: scale(1.5)
					&:before
						box-shadow: 0 0 0 5px $maubut inset
.home-guest
	background-image: url('../img/bg-kh.png')
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	padding-bottom: 3rem
	.container
		figure
			margin: 0 0 1rem
			justify-content: center
			align-items: center
			text-align: center
			flex-direction: column
			display: flex
			.boximg
				overflow: hidden
				border-radius: 50%
				position: relative
				width: 100px
				height: 100px

				&:before
					position: absolute
					content: ''
					z-index: 1
					box-shadow: 0 0 0 5px $maubut inset
					display: inline-block
					border-radius: 50%
					top: 0
					left: 0
					width: 100%
					height: 100%
			figcaption
				.cont
					+pad(2rem null)
					width: 340px
				h5 
					color: $maubut
				h4
					font-weight: 700
.home-client	
	+pad(3rem null)
	.item
		margin-left: 1rem
		margin-right: 1rem
	+media-breakpoint-up(md)
		.container
			position: relative
			.owl-carousel
				.owl-nav
					position: absolute
					width: 100%
					margin: 0
					top: 50%
					left: 0
					transform: translateY(-50%)
					.owl-prev, .owl-next
						position: absolute
					.owl-prev
						left: -3rem
						transform: translateY(-50%)
					.owl-next
						right: -3rem
						transform: translateY(-50%)
					button
						background: #083e64
						color: #ffffff
						width: 2.4rem
						height: 2.4rem
						line-height: 2.4rem
						border-radius: 0
						&:focus
							outline: none
						&.disabled
							background: rgba(0,0,0,1)
						&:hover
							background: #083e64